/* ===== Footer ===== */
.site-footer {
  background-color: #0d1117;
  color: #ccc;
  padding: 50px 0 20px;
  font-family: "Inter", sans-serif;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  .footer-logo {
    display: flex;
    align-items: center;
    position: relative;

    .rick-img {
      width: 99px;
      height: 84px;
      height: auto;
      margin-right: 5px;
    }

    .logo-text {
      position: relative;
      display: inline-block;

      .pill {
        display: inline-block;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #0d1117;
        padding: 8px 18px;
        border-radius: 40px;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        transform-origin: center;
      }

      .pill-rick {
        top: 115px;
        background-color: #a1d737;
        border-radius: 25px;
        padding: 12px 24px;
        width: 120px;
        height: 46px;
        font-weight: 600;
        font-family: Montserrat;
        
        z-index: 2;
      }

      .pill-morty {
        z-index: 3;
        transform: rotate(10deg);
       background-color: #daf836;
        padding: 12px 24px;
        border-radius: 25px;
        width: 97px;
        height: 42px;
        font-weight: 600;
        font-family: Montserrat;
        position: relative;
        margin-left: 60px;
        rotate: 32deg;
        margin-top: 90px;
      }
    }
  }
}

  .footer-center {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      li {
        margin: 5px 0;

        a {
          color: #ccc;
          text-decoration: none;
          font-size: 14px;
          transition: color 0.2s ease;

          &:hover {
            color: #aaff00;
          }
        }
      }
    }
  }

  .footer-right {
    display: flex;
    gap: 15px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border: 1px solid #ccc;
      border-radius: 8px;
      color: #ccc;
      transition: all 0.2s ease;

      &:hover {
        color: #aaff00;
        border-color: #aaff00;
        transform: translateY(-3px);
      }

      i {
        font-size: 16px;
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #666;
  }
}

/* ===== Адаптивність ===== */
@media (max-width: 768px) {
  .site-footer .footer-container {
    flex-direction: column;
    text-align: center;
  }
}