<section class="episodes-hero-section">
    <div class="episodes-hero-content">
        <h1 class="episodes-hero-title">Episodes</h1>
        <p class="episodes-text-hero">
            With a comprehensive guide to every episode, you can relive your favorite moments and discover new ones.
            From the bizarre and hilarious to the emotional and thought-provoking, our episode guide covers it all.
        </p>
        <a href="index.html" class="episodes-hero-button">Back home</a>
    </div>

    <div class="episodes-hero-visual">
        <div class="episodes-hero-shadow"></div>
        <img src=".\img\episodes.png" alt="Rick" class="episodes-hero-image">
    </div>
</section>