<header class="main-header">
  <div class="header-content">
    <div class="logo">
      <img src=".\img\header-logo.png" alt="Rick and Morty Logo">
    </div>
    <!-- <div class="search-bar-header">
      <input type="text" placeholder="Search">
      <button type="submit"><i class="fas fa-search"></i></button>
    </div> -->
    <div class="search">
    <!-- Кнопка виклику модалки -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Search
    </button>
  </div>
  </div>
</header>