<section id="searchSection">
    <div class="search-bar">
      <input type="text" id="nameInput" placeholder="Enter name">
      <button id="searchBtn">🔍</button>

      <select id="seasonSelect">
        <option value="all">All season</option>
        <option value="S01">1 season</option>
        <option value="S02">2 season</option>
        <option value="S03">3 season</option>
        <option value="S04">4 season</option>
        <option value="S05">5 season</option>
      </select>
    </div>
  </section>

  
  <section id="episodeSection">
    <div id="episodeContainer" class="episodes">
      <div class="placeholder">
        <img src=".\img\portal.png" alt="Portal">
        <p>Oops! Try looking for something else...</p>
      </div>
    </div>
  </section>